{% extends 'base.html' %}

{% block title %}Archives - {{ SITENAME | striptags }}{% endblock %}

{% block content %}
<header class="hero text-center">
  <h1 class="intro-title">Archives</h1>
</header>

<section class="main container">
{% for year, articles in articles | groupby('date.year') | reverse %}
  <h3>{{ year }}</h3>
  <ul class="article-list">
    {% for article in articles %}
    <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}
</section>
{% endblock %}
