{% extends "base.html" %}

{% block title %}Categories - {{ SITENAME | striptags }}{% endblock %}

{% block content %}
<section class="hero text-center">
  <h1 class="intro-title">Categories</h1>
</section>

<section class="main container">
  <article>
    <ul>
      {% for category, articles in categories | sort %}
      <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category | title }}</a> ({{ articles | count }})</li>
      {% endfor %}
    </ul>
  </article>
</section>
{% endblock %}
