{% extends "base.html" %}

{% block title %}Tags - {{ SITENAME | striptags }}{% endblock %}

{% block content %}
<section class="hero text-center">
  <h1 class="intro-title">Categories</h1>
</section>

<section class="main container">
  <article>
    <ul>
      {% for tag, articles in tags | sort %}
      <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag | title }}</a> ({{ articles | count }})</li>
      {% endfor %}
    </ul>
  </article>
</section>
{% endblock %}
