pre { line-height: 125%; }
td.linenos .normal { color: #D8DEE9; background-color: #242933; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #D8DEE9; background-color: #242933; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #242933; background-color: #D8DEE9; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #242933; background-color: #D8DEE9; padding-left: 5px; padding-right: 5px; }
.hll { background-color: #3B4252 }
.c { color: #616e87; font-style: italic } /* Comment */
.err { color: #bf616a } /* Error */
.esc { color: #d8dee9 } /* Escape */
.g { color: #d8dee9 } /* Generic */
.k { color: #81a1c1; font-weight: bold } /* Keyword */
.l { color: #d8dee9 } /* Literal */
.n { color: var(--nord3); } /* Name */
.o { color: #81a1c1; font-weight: bold } /* Operator */
.x { color: #d8dee9 } /* Other */
.p { color: var(--nord9); } /* Punctuation */
.ch { color: #616e87; font-style: italic } /* Comment.Hashbang */
.cm { color: #616e87; font-style: italic } /* Comment.Multiline */
.cp { color: #5e81ac; font-style: italic } /* Comment.Preproc */
.cpf { color: #616e87; font-style: italic } /* Comment.PreprocFile */
.c1 { color: #616e87; font-style: italic } /* Comment.Single */
.cs { color: #616e87; font-style: italic } /* Comment.Special */
.gd { color: #bf616a } /* Generic.Deleted */
.ge { color: #d8dee9; font-style: italic } /* Generic.Emph */
.gr { color: #bf616a } /* Generic.Error */
.gh { color: #88c0d0; font-weight: bold } /* Generic.Heading */
.gi { color: #a3be8c } /* Generic.Inserted */
.go { color: #d8dee9 } /* Generic.Output */
.gp { color: #616e88; font-weight: bold } /* Generic.Prompt */
.gs { color: #d8dee9; font-weight: bold } /* Generic.Strong */
.gu { color: #88c0d0; font-weight: bold } /* Generic.Subheading */
.gt { color: #bf616a } /* Generic.Traceback */
.kc { color: #81a1c1; font-weight: bold } /* Keyword.Constant */
.kd { color: #81a1c1; font-weight: bold } /* Keyword.Declaration */
.kn { color: #81a1c1; font-weight: bold } /* Keyword.Namespace */
.kp { color: #81a1c1 } /* Keyword.Pseudo */
.kr { color: #81a1c1; font-weight: bold } /* Keyword.Reserved */
.kt { color: #81a1c1 } /* Keyword.Type */
.ld { color: #d8dee9 } /* Literal.Date */
.m { color: #b48ead } /* Literal.Number */
.s { color: #a3be8c } /* Literal.String */
.na { color: #8fbcbb } /* Name.Attribute */
.nb { color: #81a1c1 } /* Name.Builtin */
.nc { color: #8fbcbb } /* Name.Class */
.no { color: #8fbcbb } /* Name.Constant */
.nd { color: #d08770 } /* Name.Decorator */
.ni { color: #d08770 } /* Name.Entity */
.ne { color: #bf616a } /* Name.Exception */
.nf { color: #88c0d0 } /* Name.Function */
.nl { color: #d8dee9 } /* Name.Label */
.nn { color: #8fbcbb } /* Name.Namespace */
.nx { color: #d8dee9 } /* Name.Other */
.py { color: #d8dee9 } /* Name.Property */
.nt { color: #81a1c1 } /* Name.Tag */
.nv { color: var(--nord3); } /* Name.Variable */
.ow { color: #81a1c1; font-weight: bold } /* Operator.Word */
.pm { color: #eceff4 } /* Punctuation.Marker */
.w { color: #d8dee9 } /* Text.Whitespace */
.mb { color: #b48ead } /* Literal.Number.Bin */
.mf { color: #b48ead } /* Literal.Number.Float */
.mh { color: #b48ead } /* Literal.Number.Hex */
.mi { color: #b48ead } /* Literal.Number.Integer */
.mo { color: #b48ead } /* Literal.Number.Oct */
.sa { color: #a3be8c } /* Literal.String.Affix */
.sb { color: #a3be8c } /* Literal.String.Backtick */
.sc { color: #a3be8c } /* Literal.String.Char */
.dl { color: #a3be8c } /* Literal.String.Delimiter */
.sd { color: #616e87 } /* Literal.String.Doc */
.s2 { color: #a3be8c } /* Literal.String.Double */
.se { color: #ebcb8b } /* Literal.String.Escape */
.sh { color: #a3be8c } /* Literal.String.Heredoc */
.si { color: #a3be8c } /* Literal.String.Interpol */
.sx { color: #a3be8c } /* Literal.String.Other */
.sr { color: #ebcb8b } /* Literal.String.Regex */
.s1 { color: #a3be8c } /* Literal.String.Single */
.ss { color: #a3be8c } /* Literal.String.Symbol */
.bp { color: #81a1c1 } /* Name.Builtin.Pseudo */
.fm { color: #88c0d0 } /* Name.Function.Magic */
.vc { color: #d8dee9 } /* Name.Variable.Class */
.vg { color: #d8dee9 } /* Name.Variable.Global */
.vi { color: #d8dee9 } /* Name.Variable.Instance */
.vm { color: #d8dee9 } /* Name.Variable.Magic */
.il { color: #b48ead } /* Literal.Number.Integer.Long */

body.dark .pm { color: #eceff4 } /* Punctuation.Marker */
body.dark .nv { color: var(--nord7); } /* Name.Variable */
body.dark .n { color: #d8dee9 } /* Name */
